:root {
    --font-general: "Outfit", 'Roboto Condensed', 'Bebas Neue', 'Roboto Condensed', sans-serif;
    --font-title-1: "Bungee", sans-serif;
    --font-title-2: "Londrina Sketch", sans-serif;
    --color-1: #04BFAD;
    --color-2: #04D9B2;
    --color-3: #F2E96B;
    --color-4: #F24C3D;
    --color-5: white;
    --color-6: #0D0D0D;
}


* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;

}

body,
html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-general);
}

body {
    /* background-image: url(https://images.pexels.com/photos/3721374/pexels-photo-3721374.jpeg); */
    background-color: rgb(51, 51, 51);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;

}

/* Header */

header,
footer {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 10px;
    color: var(--color-5);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px 10px 30px 10px;
    align-items: center;
    justify-content: left;
    gap: 20px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.75) 30%,
            rgba(0, 0, 0, 0) 100%);
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0;
}

.align-justify-center {
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 30px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.75) 30%,
            /* Transparente hasta el 50% del elemento */
            rgba(0, 0, 0, 0) 100%
            /* Negro sólido desde el 50% hacia abajo */
        );
}

h2 {
    display: flex;
    gap: 10px;
    font-family: var(--font-title-1);
}

h2 img {
    align-self: center;
}

footer h2 {
    font-size: .9em;
}

header ul,
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

header li a {
    text-decoration: none;
    color: var(--color-5);
    font-weight: bold;
}

header li a:hover {
    text-decoration: underline;
}

header ul,
footer ul {
    list-style-type: none;
}

/* Recomendaciones */
#recomendations-button-container {
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Mi Lista*/
#my-favs {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    color: var(--color-5);
    gap: 20px;
    padding: 20px;
    width: 100%;
}

#my-favs h1 {
    text-align: center;
    align-items: center;

}

#fav-grid {
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 200px);
}

.fav-movie {
    position: relative;
    width: 100%;
    border-radius: 10px;

    justify-self: center;
    aspect-ratio: 10/16;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s ease-in-out;
    transform: scale(1) translateY(0px);

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

.hide {
    display: none;
}

.fav-movie img,
.game-movie img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.fav-movie .filter-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d97;
    object-fit: cover;
    padding: 10px;
}

.fav-movie:hover {
    transform: scale(1.01) translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
}

.fav-movie:active {
    transform: scale(1) translateY(0px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

.fav-movie-back {
    display: flex;
    box-sizing: border-box;
}



#more-info {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.703);
    width: 100vw;
    height: 100vh;
    z-index: 11;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

#more-info #my-favs-card {
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

#my-favs-card {
    display: flex;
    mask-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1) 8%,
            rgba(255, 255, 255, 1) 92%,
            rgba(255, 255, 255, 0))
}

#popup-background {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(https://www.themoviedb.org/t/p/w1280/7h6TqPB3ESmjuVbxCxAeB1c9OB1.jpg); */
    background-size: cover;
    background-position: center;
    /* filter: blur(0.5px); */
}

#popup-background-filter {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.362);
    background-size: cover;
    background-position: center;
}

#left-portrait {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

#left-portrait img {
    height: 100%;
    aspect-ratio: 10/16;
    border-radius: 10px;
}

#right-info {
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

#close {
    display: flex;
    justify-content: right;
}

button {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    max-width: 300px;
    color: white;
    padding: 5px;
    transition: transform .2s linear, box-shadow .2s linear;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    transform: scale(1);
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 1);
}

button:active {
    background-color: white;
    color: black;
    transform: scale(1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}

/* Formulario */
#form-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    color: white;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#form-modal h2 {
font-size: 2em;
}
#form-modal h3 {
    color: white;
    width: 100%;
    max-width: 700px;
    font-weight: normal;
    text-align: justify;
}

#form-modal #form-logo-icon {
    width: 50px;
    height: 50px;
}

#form-preferences {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

form {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    height: 100%;
    color: white;
    padding: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.radio-option,
.checkbox-option {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.radio-options-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
}

.checkbox-options-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 20px;
}

.preferences-buttons-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.warning-text {
    color: red;
}

/* Media Queries */
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    #my-favs {
        padding-top: 100px;
    }

    #fav-grid {
        grid-template-columns: repeat(auto-fit, 180px);
    }
}

@media (max-width: 500px) {
    #fav-grid {
        grid-template-columns: repeat(auto-fit, 150px);
    }
}