body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/*Estilo anverso */
#card {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

}

.movie-title {
    width: 50%;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    align-content: flex-start;
    color: white;
    padding-top: 50px
}

#card-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#movie-data {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    align-content: center;
    padding-top: 50px;
}

#movie-data ul {
    padding: 0;
    margin: 50px;
}

#movie-data ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    justify-content: space-around;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 45%;
}


.links button {
    width: 30%;
    padding: 10px 0;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

#front-links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    align-items: end;
    padding: 10px;

}



.otra-pelicula {

    text-align: end;
    color: white;
    padding-right: 10%;

}

.icon {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

/*Estilo reverso*/

#reverse-card {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(https://image.tmdb.org/t/p/w1280//7h6TqPB3ESmjuVbxCxAeB1c9OB1.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

}

.poster {
    width: 35%;
    height: 100%;
    display: flex;
    padding: 30px 50px;
    box-sizing: border-box;
}

.poster .img {
    height: 100%;
    aspect-ratio: 10/16;
    border-radius: 8px;
}

#reverse-card-right {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 40px 50px;
    box-sizing: border-box;
}

.reverse-movie-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#sinopsis {
    font-style: italic;
    color: white;
}

#reverse-links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    align-items: end;

}

.reverse-links button {
    width: 30%;
    padding: 10px 0;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

/* Media queries para smartphones */
@media screen and (max-width: 768px) {

    /* Estilos para #card */
    #card {
        flex-direction: column;


    }

    .movie-title {
        width: 100%;
        font-size: 2em;
        /* Reducir tamaño de fuente */
        padding-top: 5px;
        text-align: center;
    }

    #card-right {
        width: 100%;
        justify-content: space-between;

    }

    #movie-data {
        padding-top: 5px;

    }

    #front-links {
        width: 100%;
        justify-content: space-around;

    }

    /* Estilos para #reverse-card */
    #reverse-card {
        flex-direction: column;
        padding: 15px;
    }

    .poster {
        width: 100%;
        height: auto;
        padding: 15px;
        justify-content: center;
    }

    .poster .img {
        height: auto;
        max-height: 200px;
        width: auto;

    }

    /* Ocultar elementos en vista móvil */
    .reverse-movie-title,
    #sinopsis {
        display: none;
    }

    #reverse-card-right {
        width: 100%;
        padding: 15px;
    }

    #reverse-links {
        width: 100%;
        justify-content: space-around;
        padding: 10px 0;
    }

    /* Ajustes generales para botones en móvil */
    .links button,
    .reverse-links button {
        font-size: 0.9em;
        padding: 8px 15px;

    }

    .fav-button {
        display: none;
    }

    .icon {
        width: 15px;
        /* Iconos más pequeños en móvil */
    }
}